:root {
  --theme-bg: rgb(25, 24, 30);
  --theme-text: white;
  --theme-high: #2b44cb;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

body {
  color: var(--theme-text);
  background-color: var(--theme-bg);
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: var(--theme-high);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--theme-high);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0.5rem;
}

canvas {
  touch-action: none;
}
